body { text-align: center;
  background-image: url("./images/alba.png"); /* The image used */
  background-color: black; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
 

h1 {
    color:aquamarine ;
}

h2 {  
    
    color: white;
}

p {
    color: white;
    font-size: 1.2em;
    position: left;
}
h3{
    color: aqua;
  float: right;
  }

#cool {
    float: right;


}
